################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RuedaMemoryPractice/RuedaPracticeApp/obj
/RuedaMemoryPractice/.vs
/.vs
